<div class="main">

    <div class="products" *ngFor="let item of searchResult">
        <div class="pro">

            <a routerLink="/detail-page/{{item.id}}">
            <img class="img" src="{{item.imageUrl}}" alt=""> </a>
            <span class="product-details">
                <label> {{item.productName}} </label>
                <label> {{item.price}}  </label>
                <label>{{item.ProductCategory}} </label>
                <label>{{item.description}} </label>
                <span class="align">
                    <a routerLink="/detail-page">View details</a>
                    <a href=""> Add to cart</a>
                </span>
            </span>
        </div>
    </div> 

   
    

     <!-- <div class="pro">
        <img class="img" src="../../../assets/images/mob1.jpg" alt="">
        <span class="product-details">
            <label> Vivo mobile </label>
            <label> Memory : 8GB RAM
                128GB ROM </label>
            <label>price:14000/ </label>
        </span>
    </div>
     -->

</div>